mqtt:
  enabled: false

detectors:
  hailo:
    type: hailo
    device: /dev/hailo0

cameras:
  camera1:
    ffmpeg:
      inputs:
        - path: /dev/video0
          input_args: -f v4l2 -input_format yuyv422 -framerate 10 -video_size 640x480
          roles:
            - detect
    detect:
      enabled: true
      width: 640
      height: 480
      fps: 10

